# Ignore virtual environment
venv/
.env
realsense_env/

# Ignore compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
